@use "../assets/styles/mixins" as mixin;

footer {
	height: 170px;
	background-color: black;
	color: white;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	.imgContainer {
		height: 60px;
		@include mixin.lg {
			height: 40px;
		}
	}
	p {
		font-size: 24px;
		@include mixin.lg {
			margin-top: 20px;
			font-size: 14px;
		}
	}
}
