@use "../assets/styles/mixins" as mixin;

header {
	height: 160px;
	width: 85%;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 35% 65%;
	grid-template-rows: 100%;
	align-items: center;
	@include mixin.lg {
		height: 120px;
	}
	.imgContainer {
		height: 50px;
		@include mixin.lg {
			height: 35px;
		}
		img {
			height: 100%;
			object-fit: contain;
		}
	}
	nav {
		justify-self: right;
		a {
			font-size: 24px;
			color: var(--primary);
			margin-left: 30px;
			@include mixin.lg {
				font-size: 16px;
				margin-left: 20px;
			}
		}
	}
}
