@use "../../assets/styles/mixins" as mixin;

.errorPage {
	height: 100vh;
	display: grid;
	grid-template-rows: 12% 76% 12%;
	grid-template-columns: 100%;
	.errorContent {
		width: 100%;
		flex: 1 1 auto;
		color: var(--primary);
		display: grid;
		grid-template-columns: 100%;
		grid-template-rows: 45% 5% auto;
		align-items: center;
		padding: 0 50px;
		h1 {
			font-size: 288px;
			text-align: center;
			@include mixin.lg {
				font-size: 112px;
			}
		}
		p {
			font-size: 44px;
			text-align: center;
			@include mixin.lg {
				font-size: 26px;
			}
		}
		a {
			font-size: 18px;
			text-align: center;
			color: var(--primary);
			display: inline;
			text-decoration: underline;
			@include mixin.lg {
				font-size: 18px;
			}
		}
	}
}
