body {
	margin: 0;
	font-family: var(--font-family);
	min-height: 100vh;
}

#root {
	min-height: 100vh;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

p {
	font-size: 14px;
	margin: 0;
}

* {
	box-sizing: border-box;
}

ul,
li {
	margin: 0;
	padding-left: 0;
	list-style: none;
	text-decoration: none;
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
}
